body{
    margin: 0px;
    padding: 0px;
}
.buttons-div {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 0px 20px;
    padding: 2px 3px 3px 33px;
}

.logout {
    position: relative;
    left: 39%;
    margin-top: 2px;
    color: #fff;
}

.logout button {
    border: none;
    background-color: #E17576;
    padding: 8px;
    color: #fff;
    border-radius: 20px;
}

.toggle-on {
    position: relative;
    right: 76%;
    height: 100%;
}

.toggle-on i {
    color: #79ee81;
    padding: 2px 0px 0px 0px;
    font-size: 33px;
}

.logout-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    z-index: 999;
    /* make sure it's above other content */
}

.logout-popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: "Kanit", sans-serif;
    z-index: 1000;
    /* make sure it's above overlay */
}

.logout-popup h6 {
    margin: 0;
    color: rgb(84, 132, 235);
    font-size: 20px;
    font-weight: 400;
    padding: 20px 20px 0px;
}

.logout-popup p {
    padding: 0px 20px 0px;
    margin: 0;
}

.logout-options select {
    width: 85%;
    padding: 6px;
    border: 1px solid rgb(84, 132, 235);
    border-radius: 4px;
    margin: 10px 20px;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    padding: 20px 5px 7px;
}

.logout-button button {
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(71, 118, 220);
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    margin: 5px;
}

.logout-button-no button {
    color: #E17576;
}

.logout-button button:hover {
    opacity: 0.8;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  .popup h2{
    color: #f00101;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
  }
  .popup p{
    margin: 5px 0;
   }
   .popup button{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(71, 118, 220);
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
   }
   .popup button a{
    text-decoration: none;
    color: red;
   }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
  }
.address-main {
    display: flex;
}
/*  basic details text start  */
.basic-details-header {
    display: flex;
}
.basic-details-page {
    display: flex;
    justify-content: space-between;
}

.basic-details-main {
    margin: 15px 25px;
    width: 80%;
    position: relative;
    left: 13rem;
}

.basic-details-user {
    font-size: 22px;
    color: rgb(84, 132, 235);
}

.basic-details-text {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px;
}

.basic-details-text p {
    margin: 0px;
}
/*  basic details text end  */

/*  basic details list start  */
.basic-details-list {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 18px 40px;
}

.basic-details-list a {
    font-size: 15px;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(84, 132, 235);
    background-color: rgb(230, 227, 227);
    margin: 0px 4px 4px;
    border-radius: 6px;
}
.basic-details-list .address-href{
    background-color: #332bdd;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.basic-details-list a:hover {
    background-color: #332bdd;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*  basic details list end  */
/* address details */
.address-details-main {
    background-color: #fff;
    box-shadow: 25px 25px 25px 25px rgba(161, 159, 159, 0.3);
    padding: 30px;
    margin-top: 20px;
    border-radius: 30px 0px;
}

.address-details {
    display: flex;
    justify-content: space-between;
}

.address-details-para {
    display: flex;
}

.address-details-icon {
    font-size: 23px;
    color: rgb(84, 132, 235);
}

.address-details-text p {
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 800;
    padding-left: 10px;
    margin: 0px;
}

.address-edit-button i {
    color: rgb(71, 118, 220);
}

.address-edit-button button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(66, 116, 223);
    background: none;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}
/* address details */
/* input address start */
.input-address-text p{
   font-family: sans-serif;
   font-size: 16px;
}
.input-address-para p{
    font-family: sans-serif;
    font-size: 16px;
    color: #B1B2B8;
}
/* input address  end*/
/* address brief start*/
.address-brief {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    /* margin-top: 20px; */
}

th {
    /* padding: 10px; */
    text-align: start;
}

td {
    /* padding: 10px; */
    color: #B1B2B8;
}

/* address brief end*/
/* documents list */
/* POP UP */

/* Popup container - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 30%;
    border-radius: 20px;
}

::placeholder {
    padding-left: 10px;
}

/* Styles for the form container */
.form-container {
    max-width: 100%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.select-option {
    margin-left: 5px;
    border-color: #1848d6;
    padding: 5px;
    border-radius: 4px;
}

.select-option option {
    font-family: sans-serif;
    font-style: normal;
    font-size: 17px;
}

.document-information {
    padding: 10px 0px;
}

.fs-kanit {
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.fs-latin {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.form-container h2 {
    color: #596ec0;
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    text-align: left;
}

.file-input .file {
    padding: 4px;
    background-color: #224bf2;
    color: #fff;
    border-radius: 4px;
}

/* Full-width input fields */
.form-container input[type="text"] {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0 15px 0;
    background: #fffcfc;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Form buttons */
.submit-close-btns .btn {
    color: #1848d6;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 5px;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* Close button */
.submit-close-btns .cancel {
    color: red;
}

/* Hover effect on buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.emp-id {
    display: flex;
}

.emp-id p {
    margin: 0 0 10px 0;
}

.form-container input[type="date"] {
    /* border-color:#7a98f4 ; */
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.submit-close-btns {
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
.btn:hover {
    background-color: #443bdf;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel:hover {
    background-color: hsl(351, 80%, 53%);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}